@-webkit-keyframes uyljszaq1 {
  0% {
    left: 0;
  }
  25% {
    left: 100px;
  }
  50% {
    right: 20px;
  }
  75% {
    left: 50px;
  }
  100% {
    left: 90px;
  }
}

@keyframes uyljszaq1 {
  0% {
    left: 0;
  }
  25% {
    left: 100px;
  }
  50% {
    right: 20px;
  }
  75% {
    left: 50px;
  }
  100% {
    left: 90px;
  }
}
