/*! SassyLists - v2.2.0 - 2014-07-03 */
.targetElement {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: red;
  -webkit-animation-iteration-count: infinite, infinite;
          animation-iteration-count: infinite, infinite;
  left: 0;
  top: 0;
  -webkit-animation-name: a-uxsp235qi, a-uxsp235r2, a-uxsp235r5;
          animation-name: a-uxsp235qi, a-uxsp235r2, a-uxsp235r5;
  -webkit-animation-duration: 3000ms, 3000ms, 3000ms;
          animation-duration: 3000ms, 3000ms, 3000ms;
  -webkit-animation-delay: 0, 1000ms, 2000ms;
          animation-delay: 0, 1000ms, 2000ms;
  -webkit-animation-fill-mode: forwards, forwards, forwards;
          animation-fill-mode: forwards, forwards, forwards;
  -webkit-animation-iteration-count: 1, 1, 1;
          animation-iteration-count: 1, 1, 1;
  -webkit-animation-timing-function: linear, linear, linear;
          animation-timing-function: linear, linear, linear;
}
@-webkit-keyframes a-uxsp235qi {
  0% {
    left: 50px;
  }
  33.33333% {
    left: 0;
  }
}
@keyframes a-uxsp235qi {
  0% {
    left: 50px;
  }
  33.33333% {
    left: 0;
  }
}
@-webkit-keyframes a-uxsp235r2 {
  0% {
    top: 50px;
  }
  33.33333% {
    top: 0;
  }
}
@keyframes a-uxsp235r2 {
  0% {
    top: 50px;
  }
  33.33333% {
    top: 0;
  }
}
@-webkit-keyframes a-uxsp235r5 {
  0% {
    left: 100px;
  }
  11.11111% {
    left: 50px;
  }
  22.22222% {
    left: 100px;
  }
  33.33333% {
    left: 0;
  }
}
@keyframes a-uxsp235r5 {
  0% {
    left: 100px;
  }
  11.11111% {
    left: 50px;
  }
  22.22222% {
    left: 100px;
  }
  33.33333% {
    left: 0;
  }
}
