
@function Animation(
    $target,
    $name: $target,
    $timing: default
) {
    $animation-id: unquote('a-#{unique-id()}');
    $animation-target: $target;
    $animation-name: $animation-id;
    $animation-timing: new(AnimationTiming, $timing);
    $animation-keyframes: ();
    $animation-keyframes-offset: 0;
    $animation-keyframes-active: false;

    @return (
        id: $animation-id,
        target: $animation-target,
        name: $animation-name,
        timing: $animation-timing,
        keyframes: $animation-keyframes,
        keyframes-offset: $animation-keyframes-offset,
        keyframes-active: $animation-keyframes-active
    );
}

@mixin animation(
    $target: node-get(target),
    $timing: default
) {
    $animation: new(Animation, (
        target: $target,
        timing: $timing
    ), $extends: AnimationNode);

    @include mm-node-scope($animation) {    
        @include run { @content; }

        @include node-set(keyframes-active, true);

        @keyframes #{map-get($animation, id)} {
            @content;
        }

        $animation: $_current-node;
    }
}
