
@function Animation(
    $target,
    $name: $target,
    $timing: default
) {
    $animation-id: unquote('a-#{unique-id()}');
    $animation-target: $target;
    $animation-name: $animation-id;
    $animation-timing: new(AnimationTiming, $timing);
    $animation-keyframes: ();
    $animation-keyframes-offset: 0;
    $animation-keyframes-active: false;

    @return (
        id: $animation-id,
        target: $animation-target,
        name: $animation-name,
        timing: $animation-timing,
        keyframes: $animation-keyframes,
        keyframes-offset: $animation-keyframes-offset,
        keyframes-active: $animation-keyframes-active
    );
}

@mixin animation(
    $target: &,
    $timing: default
) {
    $animation: new(Animation, (
        target: $target,
        timing: $timing
    ), $extends: AnimationNode);

    // If current node exists, this is a child node
    @if map-get($_current-node, id) {
        $animation: map-merge($animation, (parent: map-get($_current-node, id)));
        @include mm-node-push(children, map-get($animation, id));
    }

    @include mm-nodes-set($animation);

    @include mm-node-scope($animation) {    
        @include run { @content; }

        @include mm-node-set(keyframes-active, true);

        @keyframes #{map-get($animation, id)} {
            @content;
        }
    }

    // Export if root node
    @if not map-get($animation, parent) {
        animation-name: #{map-get($animation, id)};
    }
}
