@function Keyframe(
    $offset: auto
) {
    $keyframe-offset: $offset;

    @return (
        offset: $keyframe-offset
    );
}

@mixin keyframe(
    $offset: auto
) {
    $keyframe: new(Keyframe, (
        offset: $offset
    ));

    @if not node-get('keyframes-active') {
        @include node-push(keyframes, $keyframe);
    } @else {
        $node-keyframes-length: length(node-get(keyframes));
        $node-offset: node-get(keyframes-offset);

        #{percentage($node-offset)} {
            @content;
        }

        @include node-set(
            keyframes-offset,
            $node-offset + 1 / ($node-keyframes-length - 1)
        );
    }
}