@function Keyframe(
    $offset: auto
) {
    $keyframe-offset: $offset;

    @return (
        offset: $keyframe-offset
    );
}

@mixin keyframe(
    $offset: auto
) {
    $keyframe: new(Keyframe, (
        offset: $offset
    ));

    @if not map-get($_current-node, 'keyframes-active') {
        @include mm-node-push(keyframes, $keyframe);
    } @else {
        $node-keyframes-length: length(mm-node-get(keyframes));
        $node-offset: mm-node-get(keyframes-offset) + 1 / $node-keyframes-length;

        @include mm-node-set(keyframes-offset, $node-offset);

        #{percentage($node-offset)} {
            @content;
        }
    }
}