

@function AnimationNode(
    $target,
    $name: $target,
    $timing: default
) {
    $node-id: unique-id();
    $node-timing: new(AnimationTiming, $timing);
    $node-parent: null;
    $node-previousSibling: null;
    $node-nextSibling: null;

    @return (
        id: $node-id,
        timing: $node-timing,
        parent: $node-parent,
        previousSibling: $node-previousSibling,
        nextSibling: $node-nextSibling
    );
}

@mixin node(
    $target: &,
    $timing: default
) {
    $node: new(AnimationNode, (
        target: $target,
        timing: $timing
    ));

    $node-id: map-get($node, id);

    $_nodes: map-merge($_nodes, ($node-id: $node));
}