
@function AnimationSequence(
    $target,
    $timing: default
) {
    $sequence-id: unquote('s-#{unique-id()}');
    $sequence-target: $target;
    $sequence-name: $sequence-id;
    $sequence-timing: new(AnimationTiming, $timing);
    $sequence-children: ();
    $sequence-firstChild: null;
    $sequence-lastChild: null;

    @return (
        id: $sequence-id,
        target: $sequence-target,
        timing: $sequence-timing,
        name: $sequence-name,
        children: $sequence-children,
        firstChild: $sequence-firstChild,
        lastChild: $sequence-lastChild,
    );
}

@mixin animation-sequence(
    $target: auto,
    $timing: default
) {
    $sequence: new(AnimationSequence, (
        target: $target,
        timing: $timing
    ), $extends: AnimationNode);

    @include mm-node-scope($sequence) {
        @include run { @content; }

        $children-offset: 0;

        @each $child-node-id in node-get(children) {
            $child-node-duration: nodes-get($child-node-id, timing duration);
            
            @include nodes-set($child-node-id, timing offset, $children-offset);

            $children-offset: $children-offset + $child-node-duration;
        }

        $sequence: $_current-node;
    }
}