
@function AnimationSequence(
    $target,
    $timing: default
) {
    $sequence-id: unquote('s-#{unique-id()}');
    $sequence-target: $target;
    $sequence-name: $sequence-id;
    $sequence-timing: new(AnimationTiming, $timing);
    $sequence-children: ();
    $sequence-firstChild: null;
    $sequence-lastChild: null;
    $sequence-timeline: ();

    @return (
        id: $sequence-id,
        target: $sequence-target,
        timing: $sequence-timing,
        name: $sequence-name,
        children: $sequence-children,
        firstChild: $sequence-firstChild,
        lastChild: $sequence-lastChild,
        timeline: $sequence-timeline
    );
}

@mixin animation-sequence(
    $target: auto,
    $timing: default
) {
    $sequence: new(AnimationSequence, (
        target: $target,
        timing: $timing
    ), $extends: AnimationNode);

    @include mm-node-scope($sequence) {
        @include run { @content; }

        $children-offset: 0;

        @each $child-node-id in mm-node-get(children) {
            $child-node: mm-nodes-get($child-node-id);
            $child-node-duration: map-get(map-get($child-node, timing), duration);

            @include mm-node-set(timeline, map-merge(mm-node-get(timeline),
                ($child-node-id: $children-offset)
            ));

            $children-offset: $children-offset + $child-node-duration;
        }

        $sequence: $_current-node;
    }

    @debug $sequence;

    @include mm-attach-animation-properties($sequence);
}