
@function AnimationTiming(
    $duration: 1000ms,
    $delay: 0
) {
    $timing-duration: $duration;
    $timing-delay: $delay;

    @return (
        duration: $timing-duration,
        delay: $timing-delay
    );
}