
@function AnimationTiming(
    $duration,
    $delay: 0
) {
    $timing-duration: if($duration == default, defaults(timing, duration), $duration);
    $timing-delay: $delay;

    @return (
        duration: $timing-duration,
        delay: $timing-delay
    );
}