@import 'api/module';

.foo {
  @include m-sequence() {
    @include m-keyframes($duration: 3s);
    @include m-keyframes($duration: 2s);
    @include m-keyframes($duration: 6s);
    @include m-keyframes() {
      @include m-keyframe($offset: 0s);
      @include m-keyframe($offset: 3s);
      @include m-keyframe($offset: 7s);
    }
  }
}

// @debug $STACK;

$KEYFRAMES: () !global;

@function traverse($thing: (effects: $STACK, offset: 0s)) {
  @if map-has-key($thing, 'effects') {
    $effects: _get($thing, 'effects');
    $offset: _get($thing, 'offset');

    $effects: _($effects,
      _map (_modify 'offset' (_add $offset)),
      _map _ary(traverse));
  } @else if map-has-key($thing, 'keyframes') {
    $keyframes: _get($thing, 'keyframes');
    $offset: _get($thing, 'offset');

    $keyframes: _($keyframes,
      _map (_modify 'offset' (_add $offset)),
      _map (_set 'target' _get($thing, 'target')));

    $KEYFRAMES: _concat($KEYFRAMES, $keyframes) !global;
  }

  @return $thing;
}

$_: traverse();

@debug $KEYFRAMES;