
@import 'api/module';

// $foo: m-keyframes('.foo', ((left: 100px), (left: 200px), (left: 300px), (left: 400px)), 1s);


body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  position: relative;
  box-sizing: border-box;
}

.foo, .bar, .baz {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: red;
  top: calc(50vh - 0.5rem);
  left: calc(50vw - 0.5rem);
  transform-origin: center right;
}

.bar {
  background: blue;
}

.baz {
  background: green;
}


body:hover {
    .foo {
      @include m-to((scaleX: 2, x: 100px) (scaleX: 1, x: \=), 1s);
    }
}

