
// @import 'sassdash/_module';
@import '_global';
@import '_timing';
@import '_effect';
@import '_node';
@import '_keyframe';
@import '_animation';
@import '_group';
@import '_sequence';

$_animation-map: ();
$_animation-keyframes: ();
$_animation-keyframe-offset: 0;
$_keyframes-active: false;

.targetElement, .foo, .bar {
    position: absolute;
    width: 1rem; height: 1rem; background: red;
    left: 0;
    top: 0;

    @include animation-sequence($timing: 3000ms, $target: '.foo') {    
        @include animation {
            @include keyframe { left: 50px; }
            @include keyframe { left: 0; }
        }
        @include animation($target: '.bar') {
            @include keyframe { top: 50px; }
            @include keyframe { top: 0; }
        }
        @include animation {
            @include keyframe { left: 100px; }
            @include keyframe { left: 50px; }
            @include keyframe { left: 100px; }
            @include keyframe { left: 0; }
        }
    }
}

@each $node in $_nodes {
    @debug $node;
    @debug '----------------------';
}
