

@function _m-calculate-KeyframeEffect($effect) {
    $keyframes: _get($effect, 'frames');

    @if length($keyframes) <= 1 {
        @return $effect;
    }

    $calculated-keyframes: ();

    $index: 1;
    @while $index <= length($keyframes) {
        $keyframe: nth($keyframes, $index);
        $calculated-keyframe: $keyframe;

        @if $index > 1 {        
            $previous-keyframe: nth($calculated-keyframes, $index - 1);

            $calculated-keyframe: _m-calculate-Keyframe($keyframe, $previous-keyframe);
        }

        $calculated-keyframes: append($calculated-keyframes, $calculated-keyframe);

        $index: $index + 1;
    }

    $effect: _m-set($effect, 'frames', $calculated-keyframes);

    @return $effect;
}

@function _m-calculate-Keyframe($keyframe, $previous-keyframe) {
    $operator-map: (
        '+=': 1,
        '-=': -1,
        '\\+': 1,
        '\\-': -1,
        '\\=': 0
    );

    $declarations: _get($keyframe, 'declarations');

    $calculated-declarations: ();

    @each $property, $value in $declarations {
        @if _is-string($value) {
            $value-operator: false;

            @each $operator in _keys($operator-map) {
                @if _starts-with($value, $operator) {
                    $value-operator: $operator;
                }
            }

            $value: _parse-float(str-slice($value, str-length($value-operator) + 1));

            $previous-value: _get($previous-keyframe, 'declarations' $property);

            $calculated-value: $previous-value + ($value * _get($operator-map, $value-operator));

            $calculated-declarations: _set($calculated-declarations, $property, $calculated-value);
        }
    }

    $declarations: map-merge($declarations, $calculated-declarations);

    $keyframe: _m-set($keyframe, 'declarations', $declarations);

    @return $keyframe;
}