

@function Group(
    $effects: (),
    $duration: auto,
    $delay: 0,
    $easing: linear,
    $iterations: 1,
    $direction: normal
) {
    $id: _unique-id('ge-');

    $effects: _map($effects, _m-effect-set-parent $id);

    $effect: (
        name: $id,
        id: $id,
        effects: $effects,
        duration: $duration,
        delay: $delay,
        easing: $easing,
        iterations: $iterations,
        direction: $direction,
        offset-start: 0s,
        offset-end: 0s,
        type: 'group'
    );

    @return $effect;
}

@function Sequence($args...) {
    @return (
        type: 'sequence'
    );
}

@function m-group($args...) {
    @return _new(Group, $args);
}

@function m-sequence($args...) {
    @return _new(Group, $args, $extends: Sequence);
}

@function args($args...) {
    @return $args;
}