

@function _m-iterate-SequenceEffect($effect) {
    $effect-iterations: _get($effect, 'options' 'iterations');

    @if $effect-iterations == 'infinite'
        or $effect-iterations > 1 {
        $calculated-effects: ();
        
        @each $child-effect in _get($effect, 'effects') {
            $child-effect-iterations: _get($child-effect, 'options' 'iterations');

            @if $child-effect-iterations == 'infinite' {
                @error 'Child effect can not have infinite iterations inside a parent effect with more than one (#{$effect-iterations}) iterations.';
            }

            @for $index from 1 through $child-effect-iterations {
                $child-effect: _m-set($child-effect, 'options' 'iterations', 1);
                $calculated-effects: append($calculated-effects, $child-effect);
            }
        }

        $effect: _m-set($effect, 'effects', $calculated-effects);
    }
    
    @return $effect;
}