

@function KeyframeEffect(
    $target: &,
    $frames: (),
    $options: null
) {
    $options: _new(KeyframeEffectOptions, $options, $extends: AnimationEffectTimingProperties);

    $frames: if(_is-map($frames), ($frames,), $frames);
    $frames: _map($frames, _ary(m-keyframe));

    @return (
        target: $target,
        frames: $frames,
        options: $options
    )
}

@function KeyframeEffectOptions(
    $name: null,
    $spacing: 'distribute'
) {
    $duration: null;

    @if _is-time($name) or $name == 'auto' {
        $duration: $name;
        $name: null;
    }

    $name: _either($name, _unique-id('ke-'));

    @return (
        name: $name,
        spacing: $spacing,
        duration: $duration
    );
}

@function m-keyframe-effect(
    $target: &,
    $frames: (),
    $options: null
) {
    @return _m-register-effect(
        _new(KeyframeEffect, (
            target: $target,
            frames: $frames,
            options: $options
        ))
    );
}