

@function Keyframe($declarations: (), $offset: null, $easing: null) {
    $offset: if(not _is-null($offset), $offset, _get($declarations, 'offset'));
    $declarations: map-remove($declarations, 'offset');

    @return (
        declarations: $declarations,
        offset: $offset,
        easing: $easing
    );
}

@function m-keyframe($declarations: (), $offset: null, $easing: null) {   
    @return _new(Keyframe, (
        declarations: $declarations,
        offset: $offset,
        easing: $easing
    ));
}

@function m-keyframe-list($rules: ()) {
    @if _is-list($rules) {
        @if _all($rules, _instance-of 'Keyframe') {
            @return $rules;
        }
        
        @return _map($rules, _ary(m-keyframe));
    }

    $offset-keywords: ('from', 'to');

    @if not _includes($offset-keywords, _first(_keys($rules)))
        or not unit(_first(_keys($rules))) == '%'
    {
        @return (m-keyframe($rules),);
    }

    $keyframes: ();

    @each $offset, $declarations in $rules {
        $keyframes: append($keyframes, m-keyframe($declarations, $offset));
    }

    @return $keyframes;
}

@function m-shared-keyframe-list($name, $keyframes) {
    $keyframes: static-set('m-keyframes' $name, $keyframes);

    @return $keyframes;
}