

@function _m-set-offset($effect, $mode: 'none') {
    $parent: _m-get-effect(_get($effect, 'parent'));
    $parent-offset-start: 0;
    $parent-offset-end: 0;

    @if $parent {    
        $parent-offset-start: _get($parent, 'options' 'offset-start');
        $parent-offset-end: _get($parent, 'options' 'offset-end');
    }

    $offset-start:
        _get($effect, 'options' 'offset-start')
        + _get($effect, 'options' 'delay')
        + $parent-offset-start;

    $offset-end:
        _get($effect, 'options' 'offset-end')
        + _get($effect, 'options' 'delay')
        + $parent-offset-end;

    $effect: _set($effect, 'options' 'offset-start', $offset-start);
    $effect: _set($effect, 'options' 'offset-end', $offset-end);

    @if $mode == 'none' {
        $effect: _set($effect, 'calculated' 'delay', $offset-start);
    }

    @return $effect;
}

@function _m-offset-sequence($effects, $duration) {
    $offset-effects: ();

    @if $duration == 'auto' {
        @if _any(_map($effects, 'options'), ('duration': 'auto')) {
            @warn 'Cannot have child effect with a duration of "auto" inside a parent effect with a duration of "auto"';

            @return ();
        }

        $duration: _sum(_map($effects, 'options'), 'duration');
    }

    $previous-duration: 0s;
    $remaining-duration: $duration;

    @each $effect in $effects {
        $duration: min(_get($effect, 'options' 'duration'), $remaining-duration);

        $remaining-duration: $remaining-duration - $duration;

        $effect: _set($effect, 'options' 'offset-start', $previous-duration);
        $effect: _set($effect, 'options' 'offset-end', $remaining-duration);
        $effect: _set($effect, 'options' 'duration', $duration);

        $previous-duration: $previous-duration + $duration;

        $offset-effects: append($offset-effects, $effect);
    }

    @return $offset-effects;
}