

@function _m-render($effect) {
    $type: _get($effect, '_type');
    $render-function: '_m-render-#{$type}';

    @return call($render-function, $effect);
}

@function _m-render-SequenceEffect($effect) {
    $effect: _m-iterate-SequenceEffect($effect);
    
    $child-effects: _map(_get($effect, 'effects'), _ary(_m-render));

    $effect: _set($effect, 'effects', $child-effects);

    $rendered-effect: _m-offset-SequenceEffect($effect);

    @return $rendered-effect;
}

@function _m-render-KeyframeEffect($effect) {
    $rendered-effect: _m-map-KeyframeEffect($effect);
    $rendered-effect: _m-space-KeyframeEffect($rendered-effect);

    @return $rendered-effect;
}