

@function _m-render($effect) {
    $effect: _m-timing($effect);

    @if not _instance-of($effect, 'KeyframeEffect') {
        $effect: _m-iterate($effect);
        $effect: _m-offset($effect);
    } @else {
        $effect: _m-calculate-KeyframeEffect($effect);
        $effect: _m-map-KeyframeEffect($effect);
        $effect: _m-space-KeyframeEffect($effect);
    }

    @return $effect;
}