

@function SequenceEffect(
    $target: &,
    $effects: (),
    $options: null
) {
    $id: _unique-id('se-');
    $options: _new(SequenceEffectOptions, $options, $extends: AnimationEffectTimingProperties);

    $effects: _map($effects, _m-effect-set-parent $id);

    @return (
        id: $id,
        target: $target,
        effects: $effects,
        options: $options
    );
}

@function SequenceEffectOptions(
    $name: null,
    $duration: auto,
    $delay: 0,
    $easing: linear,
    $iterations: 1,
    $fill: auto,
    $direction: normal
) {
    @if _is-time($name) or $name == 'auto' {
        $duration: $name;
        $name: null;
    }

    $name: _either($name, _unique-id('se-'));

    @return (
        name: $name,
        duration: $duration,
        delay: $delay,
        easing: $easing,
        iterations: $iterations,
        fill: $fill,
        direction: $direction,
        offset-start: 0s,
        offset-end: 0s
    );
}

@function m-sequence-effect(
    $target: &,
    $effects: (),
    $options: null
) {
    @return _m-register-effect(
        _new(SequenceEffect, (
            target: $target,
            effects: $effects,
            options: $options
        ))
    );
}