
@function _m-space-KeyframeEffect-distribute(
    $frame,
    $index,
    $frames
) {
    $length: length($frames);

    @if $length == 1 {
        @return _set($frame, 'offset', 100%);
    }

    $offset: percentage(($index - 1) / ($length - 1));

    @return _set($frame, 'offset', $offset);
}

@function _m-space-KeyframeEffect-to(
    $frame,
    $index,
    $frames
) {
    $length: length($frames);

    @if $length == 1 {
        @return _set($frame, 'offset', 100%);
    }

    $offset: percentage($index / $length);

    @return _set($frame, 'offset', $offset);
}

@function _m-space-KeyframeEffect($effect) {
    $frames: _get($effect, 'frames');
    $spacing: _get($effect, 'spacing');

    $spacing-function: '_m-space-KeyframeEffect-' + $spacing;

    @if function-exists($spacing-function) {    
        $frames: _map($frames, $spacing-function);

        $effect: _set($effect, 'frames', $frames);

        $effect: _set($effect, 'spacing', 'explicit');
    }

    @return $effect;
}