

@include test-module('effect functions') {
    $child-effect: m-keyframe-effect(null, (), 1s);
    $parent-effect: m-sequence-effect('.foo', ($child-effect,), 4s);

    @include test('_m-get-effect should get effect by id') {
        $id: _get($parent-effect, 'id');

        @include assert-equal(_m-get-effect($id), $parent-effect);
    }
}