@include test-module('m-keyframes') {
    @include test('should convert a map of keyframe offset-declarations to a list of keyframes') {
        $keyframe-rules: (
            0%: (left: 100px),
            10%: (left: 200px),
            90%: (left: 300px)
        );

        $keyframes: m-keyframes($keyframe-rules);

        @include assert-true(_every($keyframes, _instance-of Keyframe));

        $keys: _keys($keyframe-rules);
        $index: 1;
        
        @each $keyframe in $keyframes {
            @include assert-equal(_get($keyframe, 'offset'), nth($keys, $index));
            $index: $index + 1;
        }
    }
}