

@include test-module('offset (mode: none)') {
    $effect: m-keyframe-effect('', (), 2s);

    @include test('should set offset of effect via delay property') {
        $actual: _m-set-offset($effect, 'none');

        @include assert-equal(_get($actual, 'calculated' 'delay'), 0);

        // Give effect 1s delay
        $actual-effect: _set($effect, 'options' 'delay', 1s);
        $actual: _m-set-offset($actual-effect, 'none');

        @include assert-equal(_get($actual, 'calculated' 'delay'), 1s);

        // Give 1s-delay effect 2s offset-start
        $actual-effect: _set($actual-effect, 'options' 'offset-start', 2s);
        $actual: _m-set-offset($actual-effect, 'none');

        @include assert-equal(_get($actual, 'calculated' 'delay'), 3s);
    }
}

@include test-module('_m-offset-sequence') {
    $e-1: m-keyframe-effect(null, (), 1s);
    $e-2: m-keyframe-effect(null, (), 2s);
    $e-3: m-keyframe-effect(null, (), 3s);

    $effects: ($e-1, $e-2, $e-3);

    @include test('should add the proper offset-start and offset-end to each effect') {
        $effects: _m-offset-sequence($effects, 6s);

        $expected-start-offsets: (0s, 1s, 3s);
        $expected-end-offsets: (5s, 3s, 0s);

        $index: 1;
        @while $index <= length($effects) {
            $effect: nth($effects, $index);

            @include assert-equal(_get($effect, 'options' 'offset-start'), nth($expected-start-offsets, $index));
            @include assert-equal(_get($effect, 'options' 'offset-end'), nth($expected-end-offsets, $index));


            $index: $index + 1;
        }
    }
}