

@include test-module('m-sequence-effect') {
    $ke-1: m-keyframe-effect(null, (), 1s);
    $ke-2: m-keyframe-effect(null, (), 1s);

    @include test('should create a SequenceEffect') {
        $effect: m-sequence-effect();

        @include assert-true(_instance-of($effect, 'SequenceEffect'));
    }

    @include test('should set parent of all child effects to self') {
        $effect: m-sequence-effect(null, $ke-1 $ke-2, 2s);
        $id: _get($effect, 'id');

        @each $child-effect in _get($effect, 'effects') {
            @include assert-true(_get($child-effect, 'parent'), $id);
        }
    }
}