@import '../bower_components/true/sass/_true';
@import '../node_modules/sassdash/scss/_sassdash';
@import '../scss/movement';

@function test-lists-equal($one, $two) {
  @if type-of($one) == number and type-of($two) == number {
    @return $one == $two and unit($one) == unit($two);
  } @else if (type-of($one) == list or type-of($one) == arglist)
        and (type-of($two) == list or type-of($two) == arglist) {
    $equal: length($one) == length($two);
    $index: 1;

    @while ($index <= max(length($one), length($two)) and $equal == true) {
      $equal: test-lists-equal(nth($one, $index), nth($two, $index));
      $index: $index + 1;
    }

    @return $equal;
  } @else {
    @return $one == $two;
  }
}

@import 'offset-tests';
@import 'effect-tests';
@import 'timing-tests';
@import 'render-tests';
@import 'map-tests';
@import 'keyframe-tests';
@import 'keyframes-tests';
@import 'keyframe-effect-tests';
@import 'sequence-effect-tests';




@include report();
