@import '../bower_components/true/sass/_true';
@import '../node_modules/sassdash/scss/_sassdash';
@import '../scss/movement';

@include test-module('m-keyframe') {
    $single-decl: (left: 100px);
    $multiple-decls: (left: 100px, color: green);
    $single-decl-offset: (left: 100px, offset: 0.1);
    $multiple-decls-offset: (left: 100px, color: green, offset: 0.1);

    $decls-list: $single-decl, $multiple-decls, $single-decl-offset, $multiple-decls-offset;

    @include test('should return a new Keyframe map') {
        @each $decls in $decls-list {
            $keyframe: m-keyframe($decls);

            @include assert-true(_instance-of($keyframe, 'Keyframe'));
        }
    }

    @include test('should default offset to null') {
        @each $decls in $single-decl, $multiple-decls {
            $keyframe: m-keyframe($decls);

            @include assert-equal(_get($keyframe, 'offset'), null);
        }
    }

    @include test('should set offset when present in declarations') {
        @each $decls in $single-decl-offset, $multiple-decls-offset {
            $keyframe: m-keyframe($decls);

            @include assert-equal(_get($keyframe, 'offset'), 0.1);
        }
    }

    @include test('should override offset if explicitly provided in arguments') {
        @each $decls in $single-decl-offset, $multiple-decls-offset {
            $keyframe: m-keyframe($decls, $offset: 0.2);

            @include assert-equal(_get($keyframe, 'offset'), 0.2);
        }
    }

    @include test('should exclude offset from declarations') {
        @each $decls in $single-decl-offset, $multiple-decls-offset {
            $keyframe: m-keyframe($decls);

            @include assert-false(_has(_get($keyframe, 'declarations'), 'offset'));
        }
    }
}



@include report();