@import '../../node_modules/bootcamp/dist/_bootcamp';
@import '../movement';

$bc-setting-verbose: true;

@include runner-start;

@include describe("AnimationTiming constructor") {
    $animation-timing-instance: new(AnimationTiming, (
        duration: 2000ms
    ));

    @include it("returns an AnimationTiming instance") {
        @include should(
            expect(get($animation-timing-instance, _type)),
            to(equal('AnimationTiming'))
        );
    }
}

@include runner-end;