@keyframes u243cfa70 {
  0% {
    background-color: gray;
    animation-timing-function: linear; }
  1.04167% {
    background-color: red;
    animation-timing-function: linear; }
  2.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  12.5% {
    background-color: gray;
    animation-timing-function: linear; }
  13.54167% {
    background-color: red;
    animation-timing-function: linear; }
  14.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  27.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  28.125% {
    background-color: red;
    animation-timing-function: linear; }
  29.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  33.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  34.375% {
    background-color: red;
    animation-timing-function: linear; }
  35.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  39.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  40.625% {
    background-color: red;
    animation-timing-function: linear; }
  41.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  45.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  46.875% {
    background-color: red;
    animation-timing-function: linear; }
  47.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  50% {
    background-color: gray;
    animation-timing-function: linear; }
  51.04167% {
    background-color: red;
    animation-timing-function: linear; }
  52.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  62.5% {
    background-color: gray;
    animation-timing-function: linear; }
  63.54167% {
    background-color: red;
    animation-timing-function: linear; }
  64.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  77.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  78.125% {
    background-color: red;
    animation-timing-function: linear; }
  79.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  83.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  84.375% {
    background-color: red;
    animation-timing-function: linear; }
  85.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  89.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  90.625% {
    background-color: red;
    animation-timing-function: linear; }
  91.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  95.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  96.875% {
    background-color: red;
    animation-timing-function: linear; }
  97.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(37) {
  animation-name: u243cfa70;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u3d0f9bbf {
  0% {
    animation-timing-function: step-end; }
  2.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  3.125% {
    background-color: red;
    animation-timing-function: linear; }
  4.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  8.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  9.375% {
    background-color: red;
    animation-timing-function: linear; }
  10.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  14.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  15.625% {
    background-color: red;
    animation-timing-function: linear; }
  16.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  20.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  21.875% {
    background-color: red;
    animation-timing-function: linear; }
  22.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  31.25% {
    background-color: gray;
    animation-timing-function: linear; }
  32.29167% {
    background-color: red;
    animation-timing-function: linear; }
  33.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  43.75% {
    background-color: gray;
    animation-timing-function: linear; }
  44.79167% {
    background-color: red;
    animation-timing-function: linear; }
  45.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  52.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  53.125% {
    background-color: red;
    animation-timing-function: linear; }
  54.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  58.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  59.375% {
    background-color: red;
    animation-timing-function: linear; }
  60.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  64.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  65.625% {
    background-color: red;
    animation-timing-function: linear; }
  66.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  70.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  71.875% {
    background-color: red;
    animation-timing-function: linear; }
  72.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  81.25% {
    background-color: gray;
    animation-timing-function: linear; }
  82.29167% {
    background-color: red;
    animation-timing-function: linear; }
  83.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  93.75% {
    background-color: gray;
    animation-timing-function: linear; }
  94.79167% {
    background-color: red;
    animation-timing-function: linear; }
  95.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(29) {
  animation-name: u3d0f9bbf;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u403ba2bb {
  0% {
    animation-timing-function: step-end; }
  2.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  3.125% {
    background-color: red;
    animation-timing-function: linear; }
  4.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  14.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  15.625% {
    background-color: red;
    animation-timing-function: linear; }
  16.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  35.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  36.45833% {
    background-color: red;
    animation-timing-function: linear; }
  37.5% {
    background-color: gray;
    animation-timing-function: linear; }
  47.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  48.95833% {
    background-color: red;
    animation-timing-function: linear; }
  50% {
    background-color: gray;
    animation-timing-function: linear; }
  52.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  53.125% {
    background-color: red;
    animation-timing-function: linear; }
  54.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  64.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  65.625% {
    background-color: red;
    animation-timing-function: linear; }
  66.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  85.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  86.45833% {
    background-color: red;
    animation-timing-function: linear; }
  87.5% {
    background-color: gray;
    animation-timing-function: linear; }
  97.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  98.95833% {
    background-color: red;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(45) {
  animation-name: u403ba2bb;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u671fa7e6 {
  0% {
    animation-timing-function: step-end; }
  2.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  3.125% {
    background-color: red;
    animation-timing-function: linear; }
  4.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  8.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  9.375% {
    background-color: red;
    animation-timing-function: linear; }
  10.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  14.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  15.625% {
    background-color: red;
    animation-timing-function: linear; }
  16.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  20.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  21.875% {
    background-color: red;
    animation-timing-function: linear; }
  22.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  25% {
    background-color: gray;
    animation-timing-function: linear; }
  26.04167% {
    background-color: red;
    animation-timing-function: linear; }
  27.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  37.5% {
    background-color: gray;
    animation-timing-function: linear; }
  38.54167% {
    background-color: red;
    animation-timing-function: linear; }
  39.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  52.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  53.125% {
    background-color: red;
    animation-timing-function: linear; }
  54.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  58.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  59.375% {
    background-color: red;
    animation-timing-function: linear; }
  60.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  64.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  65.625% {
    background-color: red;
    animation-timing-function: linear; }
  66.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  70.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  71.875% {
    background-color: red;
    animation-timing-function: linear; }
  72.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  75% {
    background-color: gray;
    animation-timing-function: linear; }
  76.04167% {
    background-color: red;
    animation-timing-function: linear; }
  77.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  87.5% {
    background-color: gray;
    animation-timing-function: linear; }
  88.54167% {
    background-color: red;
    animation-timing-function: linear; }
  89.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(36) {
  animation-name: u671fa7e6;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u1f80bb22 {
  0% {
    animation-timing-function: step-end; }
  2.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  3.125% {
    background-color: red;
    animation-timing-function: linear; }
  4.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  14.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  15.625% {
    background-color: red;
    animation-timing-function: linear; }
  16.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  29.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  30.20833% {
    background-color: red;
    animation-timing-function: linear; }
  31.25% {
    background-color: gray;
    animation-timing-function: linear; }
  41.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  42.70833% {
    background-color: red;
    animation-timing-function: linear; }
  43.75% {
    background-color: gray;
    animation-timing-function: linear; }
  52.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  53.125% {
    background-color: red;
    animation-timing-function: linear; }
  54.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  64.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  65.625% {
    background-color: red;
    animation-timing-function: linear; }
  66.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  79.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  80.20833% {
    background-color: red;
    animation-timing-function: linear; }
  81.25% {
    background-color: gray;
    animation-timing-function: linear; }
  91.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  92.70833% {
    background-color: red;
    animation-timing-function: linear; }
  93.75% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(38) {
  animation-name: u1f80bb22;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes ud853a75e {
  0% {
    animation-timing-function: step-end; }
  4.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  5.20833% {
    background-color: red;
    animation-timing-function: linear; }
  6.25% {
    background-color: gray;
    animation-timing-function: linear; }
  16.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  17.70833% {
    background-color: red;
    animation-timing-function: linear; }
  18.75% {
    background-color: gray;
    animation-timing-function: linear; }
  33.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  34.375% {
    background-color: red;
    animation-timing-function: linear; }
  35.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  45.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  46.875% {
    background-color: red;
    animation-timing-function: linear; }
  47.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  54.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  55.20833% {
    background-color: red;
    animation-timing-function: linear; }
  56.25% {
    background-color: gray;
    animation-timing-function: linear; }
  66.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  67.70833% {
    background-color: red;
    animation-timing-function: linear; }
  68.75% {
    background-color: gray;
    animation-timing-function: linear; }
  83.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  84.375% {
    background-color: red;
    animation-timing-function: linear; }
  85.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  95.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  96.875% {
    background-color: red;
    animation-timing-function: linear; }
  97.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(21) {
  animation-name: ud853a75e;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u08ed6b49 {
  0% {
    animation-timing-function: step-end; }
  4.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  5.20833% {
    background-color: red;
    animation-timing-function: linear; }
  6.25% {
    background-color: gray;
    animation-timing-function: linear; }
  16.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  17.70833% {
    background-color: red;
    animation-timing-function: linear; }
  18.75% {
    background-color: gray;
    animation-timing-function: linear; }
  54.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  55.20833% {
    background-color: red;
    animation-timing-function: linear; }
  56.25% {
    background-color: gray;
    animation-timing-function: linear; }
  66.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  67.70833% {
    background-color: red;
    animation-timing-function: linear; }
  68.75% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(53) {
  animation-name: u08ed6b49;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes ue32b2778 {
  0% {
    animation-timing-function: step-end; }
  4.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  5.20833% {
    background-color: red;
    animation-timing-function: linear; }
  6.25% {
    background-color: gray;
    animation-timing-function: linear; }
  16.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  17.70833% {
    background-color: red;
    animation-timing-function: linear; }
  18.75% {
    background-color: gray;
    animation-timing-function: linear; }
  27.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  28.125% {
    background-color: red;
    animation-timing-function: linear; }
  29.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  39.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  40.625% {
    background-color: red;
    animation-timing-function: linear; }
  41.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  54.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  55.20833% {
    background-color: red;
    animation-timing-function: linear; }
  56.25% {
    background-color: gray;
    animation-timing-function: linear; }
  66.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  67.70833% {
    background-color: red;
    animation-timing-function: linear; }
  68.75% {
    background-color: gray;
    animation-timing-function: linear; }
  77.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  78.125% {
    background-color: red;
    animation-timing-function: linear; }
  79.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  89.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  90.625% {
    background-color: red;
    animation-timing-function: linear; }
  91.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(35) {
  animation-name: ue32b2778;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u8fe99c3f {
  0% {
    animation-timing-function: step-end; }
  4.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  5.20833% {
    background-color: red;
    animation-timing-function: linear; }
  6.25% {
    background-color: gray;
    animation-timing-function: linear; }
  16.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  17.70833% {
    background-color: red;
    animation-timing-function: linear; }
  18.75% {
    background-color: gray;
    animation-timing-function: linear; }
  54.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  55.20833% {
    background-color: red;
    animation-timing-function: linear; }
  56.25% {
    background-color: gray;
    animation-timing-function: linear; }
  66.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  67.70833% {
    background-color: red;
    animation-timing-function: linear; }
  68.75% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(39) {
  animation-name: u8fe99c3f;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes ue716430f {
  0% {
    animation-timing-function: step-end; }
  6.25% {
    background-color: gray;
    animation-timing-function: linear; }
  7.29167% {
    background-color: red;
    animation-timing-function: linear; }
  8.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  18.75% {
    background-color: gray;
    animation-timing-function: linear; }
  19.79167% {
    background-color: red;
    animation-timing-function: linear; }
  20.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  27.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  28.125% {
    background-color: red;
    animation-timing-function: linear; }
  29.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  33.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  34.375% {
    background-color: red;
    animation-timing-function: linear; }
  35.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  39.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  40.625% {
    background-color: red;
    animation-timing-function: linear; }
  41.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  45.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  46.875% {
    background-color: red;
    animation-timing-function: linear; }
  47.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  56.25% {
    background-color: gray;
    animation-timing-function: linear; }
  57.29167% {
    background-color: red;
    animation-timing-function: linear; }
  58.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  68.75% {
    background-color: gray;
    animation-timing-function: linear; }
  69.79167% {
    background-color: red;
    animation-timing-function: linear; }
  70.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  77.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  78.125% {
    background-color: red;
    animation-timing-function: linear; }
  79.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  83.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  84.375% {
    background-color: red;
    animation-timing-function: linear; }
  85.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  89.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  90.625% {
    background-color: red;
    animation-timing-function: linear; }
  91.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  95.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  96.875% {
    background-color: red;
    animation-timing-function: linear; }
  97.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(28) {
  animation-name: ue716430f;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u45c5f4bd {
  0% {
    animation-timing-function: step-end; }
  8.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  9.375% {
    background-color: red;
    animation-timing-function: linear; }
  10.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  20.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  21.875% {
    background-color: red;
    animation-timing-function: linear; }
  22.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  29.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  30.20833% {
    background-color: red;
    animation-timing-function: linear; }
  31.25% {
    background-color: gray;
    animation-timing-function: linear; }
  41.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  42.70833% {
    background-color: red;
    animation-timing-function: linear; }
  43.75% {
    background-color: gray;
    animation-timing-function: linear; }
  58.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  59.375% {
    background-color: red;
    animation-timing-function: linear; }
  60.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  70.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  71.875% {
    background-color: red;
    animation-timing-function: linear; }
  72.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  79.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  80.20833% {
    background-color: red;
    animation-timing-function: linear; }
  81.25% {
    background-color: gray;
    animation-timing-function: linear; }
  91.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  92.70833% {
    background-color: red;
    animation-timing-function: linear; }
  93.75% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(20) {
  animation-name: u45c5f4bd;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes ua6110cad {
  0% {
    animation-timing-function: step-end; }
  8.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  9.375% {
    background-color: red;
    animation-timing-function: linear; }
  10.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  20.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  21.875% {
    background-color: red;
    animation-timing-function: linear; }
  22.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  35.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  36.45833% {
    background-color: red;
    animation-timing-function: linear; }
  37.5% {
    background-color: gray;
    animation-timing-function: linear; }
  47.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  48.95833% {
    background-color: red;
    animation-timing-function: linear; }
  50% {
    background-color: gray;
    animation-timing-function: linear; }
  58.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  59.375% {
    background-color: red;
    animation-timing-function: linear; }
  60.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  70.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  71.875% {
    background-color: red;
    animation-timing-function: linear; }
  72.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  85.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  86.45833% {
    background-color: red;
    animation-timing-function: linear; }
  87.5% {
    background-color: gray;
    animation-timing-function: linear; }
  97.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  98.95833% {
    background-color: red;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(27) {
  animation-name: ua6110cad;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes uf09e101d {
  0% {
    animation-timing-function: step-end; }
  10.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  11.45833% {
    background-color: red;
    animation-timing-function: linear; }
  12.5% {
    background-color: gray;
    animation-timing-function: linear; }
  22.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  23.95833% {
    background-color: red;
    animation-timing-function: linear; }
  25% {
    background-color: gray;
    animation-timing-function: linear; }
  60.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  61.45833% {
    background-color: red;
    animation-timing-function: linear; }
  62.5% {
    background-color: gray;
    animation-timing-function: linear; }
  72.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  73.95833% {
    background-color: red;
    animation-timing-function: linear; }
  75% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(12) {
  animation-name: uf09e101d;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u6e95aacc {
  0% {
    animation-timing-function: step-end; }
  10.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  11.45833% {
    background-color: red;
    animation-timing-function: linear; }
  12.5% {
    background-color: gray;
    animation-timing-function: linear; }
  22.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  23.95833% {
    background-color: red;
    animation-timing-function: linear; }
  25% {
    background-color: gray;
    animation-timing-function: linear; }
  27.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  28.125% {
    background-color: red;
    animation-timing-function: linear; }
  29.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  39.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  40.625% {
    background-color: red;
    animation-timing-function: linear; }
  41.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  60.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  61.45833% {
    background-color: red;
    animation-timing-function: linear; }
  62.5% {
    background-color: gray;
    animation-timing-function: linear; }
  72.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  73.95833% {
    background-color: red;
    animation-timing-function: linear; }
  75% {
    background-color: gray;
    animation-timing-function: linear; }
  77.08333% {
    background-color: gray;
    animation-timing-function: linear; }
  78.125% {
    background-color: red;
    animation-timing-function: linear; }
  79.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  89.58333% {
    background-color: gray;
    animation-timing-function: linear; }
  90.625% {
    background-color: red;
    animation-timing-function: linear; }
  91.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(44) {
  animation-name: u6e95aacc;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u879d39a9 {
  0% {
    animation-timing-function: step-end; }
  10.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  11.45833% {
    background-color: red;
    animation-timing-function: linear; }
  12.5% {
    background-color: gray;
    animation-timing-function: linear; }
  22.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  23.95833% {
    background-color: red;
    animation-timing-function: linear; }
  25% {
    background-color: gray;
    animation-timing-function: linear; }
  60.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  61.45833% {
    background-color: red;
    animation-timing-function: linear; }
  62.5% {
    background-color: gray;
    animation-timing-function: linear; }
  72.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  73.95833% {
    background-color: red;
    animation-timing-function: linear; }
  75% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(26) {
  animation-name: u879d39a9;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes ua1ea039b {
  0% {
    animation-timing-function: step-end; }
  10.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  11.45833% {
    background-color: red;
    animation-timing-function: linear; }
  12.5% {
    background-color: gray;
    animation-timing-function: linear; }
  22.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  23.95833% {
    background-color: red;
    animation-timing-function: linear; }
  25% {
    background-color: gray;
    animation-timing-function: linear; }
  33.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  34.375% {
    background-color: red;
    animation-timing-function: linear; }
  35.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  45.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  46.875% {
    background-color: red;
    animation-timing-function: linear; }
  47.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  60.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  61.45833% {
    background-color: red;
    animation-timing-function: linear; }
  62.5% {
    background-color: gray;
    animation-timing-function: linear; }
  72.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  73.95833% {
    background-color: red;
    animation-timing-function: linear; }
  75% {
    background-color: gray;
    animation-timing-function: linear; }
  83.33333% {
    background-color: gray;
    animation-timing-function: linear; }
  84.375% {
    background-color: red;
    animation-timing-function: linear; }
  85.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  95.83333% {
    background-color: gray;
    animation-timing-function: linear; }
  96.875% {
    background-color: red;
    animation-timing-function: linear; }
  97.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(30) {
  animation-name: ua1ea039b;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u9d973b74 {
  0% {
    animation-timing-function: step-end; }
  29.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  30.20833% {
    background-color: red;
    animation-timing-function: linear; }
  31.25% {
    background-color: gray;
    animation-timing-function: linear; }
  41.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  42.70833% {
    background-color: red;
    animation-timing-function: linear; }
  43.75% {
    background-color: gray;
    animation-timing-function: linear; }
  79.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  80.20833% {
    background-color: red;
    animation-timing-function: linear; }
  81.25% {
    background-color: gray;
    animation-timing-function: linear; }
  91.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  92.70833% {
    background-color: red;
    animation-timing-function: linear; }
  93.75% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(52) {
  animation-name: u9d973b74;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u199691e6 {
  0% {
    animation-timing-function: step-end; }
  29.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  30.20833% {
    background-color: red;
    animation-timing-function: linear; }
  31.25% {
    background-color: gray;
    animation-timing-function: linear; }
  41.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  42.70833% {
    background-color: red;
    animation-timing-function: linear; }
  43.75% {
    background-color: gray;
    animation-timing-function: linear; }
  79.16667% {
    background-color: gray;
    animation-timing-function: linear; }
  80.20833% {
    background-color: red;
    animation-timing-function: linear; }
  81.25% {
    background-color: gray;
    animation-timing-function: linear; }
  91.66667% {
    background-color: gray;
    animation-timing-function: linear; }
  92.70833% {
    background-color: red;
    animation-timing-function: linear; }
  93.75% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(34) {
  animation-name: u199691e6;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u950afb17 {
  0% {
    animation-timing-function: step-end; }
  35.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  36.45833% {
    background-color: red;
    animation-timing-function: linear; }
  37.5% {
    background-color: gray;
    animation-timing-function: linear; }
  47.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  48.95833% {
    background-color: red;
    animation-timing-function: linear; }
  50% {
    background-color: gray;
    animation-timing-function: linear; }
  85.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  86.45833% {
    background-color: red;
    animation-timing-function: linear; }
  87.5% {
    background-color: gray;
    animation-timing-function: linear; }
  97.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  98.95833% {
    background-color: red;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(13) {
  animation-name: u950afb17;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

@keyframes u3ab4d617 {
  0% {
    animation-timing-function: step-end; }
  35.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  36.45833% {
    background-color: red;
    animation-timing-function: linear; }
  37.5% {
    background-color: gray;
    animation-timing-function: linear; }
  47.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  48.95833% {
    background-color: red;
    animation-timing-function: linear; }
  50% {
    background-color: gray;
    animation-timing-function: linear; }
  85.41667% {
    background-color: gray;
    animation-timing-function: linear; }
  86.45833% {
    background-color: red;
    animation-timing-function: linear; }
  87.5% {
    background-color: gray;
    animation-timing-function: linear; }
  97.91667% {
    background-color: gray;
    animation-timing-function: linear; }
  98.95833% {
    background-color: red;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; }
  100% {
    background-color: gray;
    animation-timing-function: linear; } }

.node:nth-child(31) {
  animation-name: u3ab4d617;
  animation-duration: 6000ms;
  animation-fill-mode: forwards; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.launchpad {
  display: flex;
  flex-basis: 50vmax;
  height: 50vmax;
  border: 1px solid red;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between; }

.node {
  width: 12.5%;
  height: 12.5%;
  background: #333;
  background-clip: content-box;
  border: 0.5rem solid transparent; }

*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }
