@function Keyframe(
    $offset: auto
) {
    $keyframe-offset: $offset;

    @return (
        offset: $keyframe-offset
    );
}

@mixin keyframe(
    $offset: auto
) {
    $keyframe: new(Keyframe, (
        offset: $offset
    ));

    
}