

@function MovementKeyframes(
  $keyframes: (),
  $duration: auto,
  $delay: 0,
  $easing: null,
  $iterations: 1,
  $fill: auto,
  $direction: normal,
  $spacing: 'distribute',
  $offset: 0s,
  $loop: false,
  $target: #{&}
) {
  $id: _unique-id('keyframes-');

  // DURATION
  @if $duration == auto {
    $duration: _($keyframes, _pluck 'offset', _max);
  }

  @return (
    id: $id,
    keyframes: $keyframes,
    spacing: $spacing,
    duration: $duration,
    delay: $delay,
    easing: $easing,
    iterations: $iterations,
    fill: $fill,
    direction: $direction,
    offset: 0s,
    loop: $loop,
    target: $target
  );
}

@function m-keyframes($args...) {
  $effect: MovementKeyframes($args...);

  @return $effect;
}

@mixin m-keyframes(
    $keyframes: (),
    $duration: auto,
    $iterations: 1,
    $easing: linear,
    $loop: false
) {
  $prev: $STACK;
  $STACK: () !global;

  @content;

  $effect: m-keyframes(
    $keyframes: _concat($keyframes, $STACK),
    $duration: $duration,
    $target: &
  );


  $STACK: $prev !global;

  @include _m-stack($effect);
}