

@function MovementNode(
  $target,
  $offset,
  $duration,
  $property,
  $value
) {
  @return (
    type: 'node',
    target: $target,
    offset: $offset,
    duration: $duration,
    property: $property,
    value: $value
  );
}