

@function MovementNode(
  $target,
  $offset,
  $property,
  $value,
  $easing
) {
  @return (
    type: 'node',
    target: $target,
    offset: $offset,
    property: $property,
    value: $value,
    easing: $easing
  );
}