
@function AnimationSequence(
    $target,
    $timing: default
) {
    $sequence-id: unquote('s-#{unique-id()}');
    $sequence-target: $target;
    $sequence-name: $sequence-id;
    $sequence-timing: new(AnimationTiming, $timing);
    $sequence-children: ();
    $sequence-firstChild: null;
    $sequence-lastChild: null;

    @return (
        id: $sequence-id,
        target: $sequence-target,
        timing: $sequence-timing,
        name: $sequence-name,
        children: $sequence-children,
    );
}

@mixin animation-sequence(
    $target: &,
    $timing: default
) {
    $sequence: new(AnimationSequence, (
        target: $target,
        timing: $timing
    ), $extends: AnimationNode);

    @include mv-node($sequence) {
        @content;
    }
}