*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

.scene {
  height: 100%;
  width: 100%; }
  .scene:first-child {
    background: blue; }
  .scene > .ball {
    position: absolute;
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    transform: scale(0, 0); }
    .scene > .ball:first-child {
      top: calc(50% - 25vh);
      left: calc(60% - 25vh);
      background: yellow; }
    .scene > .ball:nth-child(2) {
      top: calc(50% - 25vh);
      left: calc(40% - 25vh);
      background: purple; }

@keyframes ua5dfb93b {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in; }
  50% {
    transform: scale(1);
    animation-timing-function: ease-in; }
  100% {
    transform: scale(1.1);
    animation-timing-function: linear; }
  100% {
    transform: scale(1.1);
    animation-timing-function: linear; } }

.scene:first-child > .ball:nth-child(1) {
  animation-name: ua5dfb93b;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

@keyframes u839b5df8 {
  0% {
    animation-timing-function: step-end; }
  50% {
    transform: scale(0.4);
    animation-timing-function: ease-in-out; }
  100% {
    transform: scale(0.8);
    animation-timing-function: ease-in-out; }
  100% {
    transform: scale(0.8);
    animation-timing-function: ease-in-out; } }

.scene:first-child > .ball:nth-child(2) {
  animation-name: u839b5df8;
  animation-duration: 2s;
  animation-fill-mode: forwards; }
