

@mixin _m-context($effect) {
    $previous-effect: $m-current-effect;

    $m-current-effect: $effect !global;

    @content;

    @if $previous-effect {
        $previous-effect: _m-push($previous-effect, $effect);
    } @else {
        @at-root {
            @include m-play($m-current-effect);
        }
    }

    $m-current-effect: $previous-effect !global;
}