
@function m-group($effects) {
    @return ('g': $effects);
}

@function append-group($parent, $effects) {
    @return append($parent, m-group($effects));
}

@mixin m-group(
    $duration: auto,
    $iterations: 1,
    $type: 'group'
) {
    $effects: ();

    @include _context($effects, append-group) {
        @content;

        $effects: m-group(_context-get());
    }

    @debug $effects;
}