

@mixin m-keyframe-effect(
    $keyframes,
    $duration: 0s,
    $iterations: 1,
    $easing: linear,
    $loop: false
) {
    $effect: m-keyframe-effect(
        $target: #{&},
        $frames: $keyframes, 
        $duration: $duration,
        $iterations: $iterations,
        $easing: $easing,
        $loop: $loop
    );

    @include _m-context($effect) {
        @content;
    }
}

@mixin m-to(
    $keyframes,
    $duration: 0s,
    $iterations: 1,
    $easing: linear
) {
    $effect: m-keyframe-effect(
        $target: #{&},
        $frames: $keyframes, 
        $duration: $duration,
        $iterations: $iterations,
        $easing: $easing,
        $spacing: 'to'
    );

    @include _m-context($effect) {
        @content;
    }
}

@mixin m-keyframes($args...) {
    @include m-keyframe-effect($args...) { @content; }
}