$playlist: () !global;

@mixin m-play($effect: null) {
    $playlist: () !global;
    $options: _get($effect, 'options');

    @include m-keyframes($effect);

    @each $target, $animations in _group-by-keys($playlist) {
        #{$target} {        
            @include _declare(_group-by-keys($animations));
        }
    }

    $playlist: () !global;
}