

@mixin m-render($effect) {
    $effect: _m-render($effect);

    @if _instance-of($effect, 'KeyframeEffect') {
        $keyframes: _get($effect, 'frames');
        $name: _get($effect, 'name');

        $timeline: append($timeline, $effect) !global;
    } @else {
        @each $child-effect in _get($effect, 'effects') {
            @include m-render($child-effect);
        }
    }
}

@mixin m-shared-keyframe-list($name, $keyframes: ()) {
    $keyframes: m-shared-keyframe-list($name, $keyframes);

    @keyframes #{$name} {
        @include _rules($keyframes);
    }
}