

@mixin m-sequence-effect(
    $duration: auto,
    $iterations: 1,
    $easing: linear
) {
    $effect: m-sequence-effect(#{&}, (),
        $duration: $duration,
        $iterations: $iterations,
        $easing: $easing
    );

    @include _m-context($effect) {
        @content;
    }
}

@mixin m-sequence($args...) {
    @include m-sequence-effect($args...) { @content; }
}