*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }

body, html {
  height: 100%;
  width: 100%;
  margin: 0; }

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: red;
  margin: 0.5rem; }
  .dot.foo {
    background: blue; }

@keyframes u3cf4e396 {
  0% {
    transform: translateX(90%);
    animation-timing-function: linear; }
  20% {
    transform: translateX(160%);
    animation-timing-function: linear; }
  100% {
    transform: translateX(160%);
    animation-timing-function: linear; } }

@keyframes uefd53803 {
  0% {
    animation-timing-function: step-end; }
  80% {
    background: black;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; } }

.dot:nth-of-type(1) {
  animation-name: u3cf4e396, uefd53803;
  animation-duration: 5s, 5s;
  animation-fill-mode: forwards, forwards; }

@keyframes u24d0538b {
  0% {
    animation-timing-function: step-end; }
  20% {
    transform: translateX(90%);
    animation-timing-function: linear; }
  40% {
    transform: translateX(230%);
    animation-timing-function: linear; }
  100% {
    transform: translateX(230%);
    animation-timing-function: linear; } }

@keyframes uad6d6219 {
  0% {
    animation-timing-function: step-end; }
  80% {
    background: black;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; } }

.dot:nth-of-type(2) {
  animation-name: u24d0538b, uad6d6219;
  animation-duration: 5s, 5s;
  animation-fill-mode: forwards, forwards; }

@keyframes u57eef00b {
  0% {
    animation-timing-function: step-end; }
  40% {
    transform: translateX(90%);
    animation-timing-function: linear; }
  60% {
    transform: translateX(300%);
    animation-timing-function: linear; }
  100% {
    transform: translateX(300%);
    animation-timing-function: linear; } }

@keyframes ud7ef2276 {
  0% {
    animation-timing-function: step-end; }
  80% {
    background: black;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; } }

.dot:nth-of-type(3) {
  animation-name: u57eef00b, ud7ef2276;
  animation-duration: 5s, 5s;
  animation-fill-mode: forwards, forwards; }

@keyframes u75a0756f {
  0% {
    animation-timing-function: step-end; }
  60% {
    transform: translateY(90%);
    animation-timing-function: linear; }
  80% {
    transform: translateY(160%);
    animation-timing-function: linear; }
  100% {
    transform: translateY(160%);
    animation-timing-function: linear; } }

@keyframes u6b9cc4ba {
  0% {
    animation-timing-function: step-end; }
  80% {
    background: black;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; } }

.foo:nth-of-type(4) {
  animation-name: u75a0756f, u6b9cc4ba;
  animation-duration: 5s, 5s;
  animation-fill-mode: forwards, forwards; }

@keyframes u19829e21 {
  0% {
    animation-timing-function: step-end; }
  60% {
    transform: translateY(90%);
    animation-timing-function: linear; }
  80% {
    transform: translateY(230%);
    animation-timing-function: linear; }
  100% {
    transform: translateY(230%);
    animation-timing-function: linear; } }

@keyframes u70a2033c {
  0% {
    animation-timing-function: step-end; }
  80% {
    background: black;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; } }

.foo:nth-of-type(5) {
  animation-name: u19829e21, u70a2033c;
  animation-duration: 5s, 5s;
  animation-fill-mode: forwards, forwards; }

@keyframes uaed1e1c7 {
  0% {
    animation-timing-function: step-end; }
  60% {
    transform: translateY(90%);
    animation-timing-function: linear; }
  80% {
    transform: translateY(300%);
    animation-timing-function: linear; }
  100% {
    transform: translateY(300%);
    animation-timing-function: linear; } }

@keyframes ucf09ace2 {
  0% {
    animation-timing-function: step-end; }
  80% {
    background: black;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; }
  100% {
    background: green;
    animation-timing-function: linear; } }

.foo:nth-of-type(6) {
  animation-name: uaed1e1c7, ucf09ace2;
  animation-duration: 5s, 5s;
  animation-fill-mode: forwards, forwards; }
