*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }

body, html {
  height: 100%;
  width: 100%;
  margin: 0; }

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: red;
  margin: 0.5rem; }

@keyframes ub56f6614 {
  0% {
    transform: translateX(0);
    animation-timing-function: linear; }
  33.33333% {
    transform: translateX(100%);
    animation-timing-function: linear; }
  100% {
    transform: translateX(100%);
    animation-timing-function: linear; } }

.dot:nth-of-type(1) {
  animation-name: ub56f6614;
  animation-duration: 3s;
  animation-fill-mode: forwards; }

@keyframes u4875672d {
  33.33333% {
    transform: translateX(0);
    animation-timing-function: linear; }
  66.66667% {
    transform: translateX(100%);
    animation-timing-function: linear; }
  100% {
    transform: translateX(100%);
    animation-timing-function: linear; } }

.dot:nth-of-type(2) {
  animation-name: u4875672d;
  animation-duration: 3s;
  animation-fill-mode: forwards; }

@keyframes u5ebb8453 {
  66.66667% {
    transform: translateX(0);
    animation-timing-function: linear; }
  100% {
    transform: translateX(100%);
    animation-timing-function: linear; } }

.dot:nth-of-type(3) {
  animation-name: u5ebb8453;
  animation-duration: 3s;
  animation-fill-mode: forwards; }
