@import '../../scss/movement';

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: red;
  margin: 0.5rem;

  &.foo {
    background: blue;
  }
}

@include m-sequence {
  @for $i from 1 through 3 {
    .dot:nth-of-type(#{$i}) {
      @include m-effect((x: 90%) (x: \+ 70 * $i), 1s);
    }
  }

  @include m-group(1s) {
    @for $i from 1 through 3 {
      .foo:nth-of-type(#{$i + 3}) {
        @include m-effect((y: 90%) (y: \+ 70 * $i));
      }
    }
  }

  // TODO: selector functions
  @include m-group {

    @for $i from 1 through 3 {
      .dot:nth-of-type(#{$i}), .foo:nth-of-type(#{$i + 3}) {
        @include m-effect((background: black) (background: green), 0.5s);
      }
    }
  }
}

@include _m-render();