*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }

body, html {
  height: 100%;
  width: 100%;
  margin: 0; }

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: red;
  margin: 0.5rem; }

@keyframes u8bbca293 {
  0% {
    transform: translateX(90%);
    animation-timing-function: linear; }
  33.33333%, 100% {
    transform: translateX(160%);
    animation-timing-function: linear; } }

.dot:nth-of-type(1) {
  animation-name: u8bbca293;
  animation-duration: 3s;
  animation-fill-mode: forwards; }

@keyframes u0436c017 {
  0% {
    animation-timing-function: step-end; }
  33.33333% {
    transform: translateX(90%);
    animation-timing-function: linear; }
  66.66667%, 100% {
    transform: translateX(160%);
    animation-timing-function: linear; } }

.dot:nth-of-type(2) {
  animation-name: u0436c017;
  animation-duration: 3s;
  animation-fill-mode: forwards; }

@keyframes u8a509298 {
  0% {
    animation-timing-function: step-end; }
  66.66667% {
    transform: translateX(90%);
    animation-timing-function: linear; }
  100% {
    transform: translateX(160%);
    animation-timing-function: linear; } }

.dot:nth-of-type(3) {
  animation-name: u8a509298;
  animation-duration: 3s;
  animation-fill-mode: forwards; }
